@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=JetBrains+Mono&display=swap');

:root {
    --vp-font-family-base: Inter;
    --vp-font-family-mono: Jetbrains Mono,
        Fira Code
}

.vp-doc th {
    text-align: unset;
    font-weight: unset;
}