@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono&display=swap');

:root {
    --c-brand: #1890ff !important;
    --font-family: Inter;
    --font-family-code: Jetbrains Mono,
        Fira Code
}

.vp-doc th {
    text-align: unset;
    font-weight: unset;
    background-color: var(--vp-c-bg-soft) !important;
}